* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family:  Helvetica, sans-serif;
}

.person__list {
  width: 80%;
  margin:0 auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
  grid-gap: 20px;
}

.person__card {
 width: 80%;
 height: auto;
 padding: 20px;
 margin: 0 auto;
 border: 1px solid #ccc;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #eee;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}

.person__card:hover {
  box-shadow: 1px 0px 5px #aaa;
}

.person__card img{
 width: 150px;
 height: 150px;
 margin-bottom: 20px;
 border: 2px solid darkcyan;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}

.person__card h4 {
font-size: 25px;
margin-bottom: 10px;
text-transform: capitalize;
}
.person__card h4:nth-of-type(1) {
  color: darkorchid;
}
.person__card h4:nth-of-type(2) {
  color: dodgerblue;
}
.person__card p {
font-size:19px;
}
.person__card p::first-letter {
  text-transform: uppercase;
  font-size: 25px;
  color: crimson;
}